td{
    color: aliceblue;
    text-align: center;
    
}
th{
    color: aliceblue;
}

.tabla{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 500px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    border: 5px solid rgb(16, 1, 1);



}
.tabla thead tr{
    background-color: rgb(43, 138, 202);
  



}
.tabla td{
    background-color: rgb(47, 177, 232);
    padding: 12px 15px;

}
.tabla tbody tr{
    border-bottom: 1px solid #dddddd;

}